WEBHOOK_SECRET=your_webhook_secret
DISCORD_WEBHOOK_URL=your_discord_webhook_url
SUMSUB_SECCRET_KEY=your_sumsub_secret_key
SUMSUB_APP_TOKEN=your_sumsub_app_token
KEY_PATH=certs/key.pem
CERT_PATH=certs/cert.pem
#HOST=0.0.0.0
#PORT=1276
#ALLOWED_IPS=0.0.0.0
#LOG_LEVEL=INFO
#ACCEPTABLE_RISK_SCORE=20
#SIGNATURE_MESSAGE=
#POLLING_MAX_RETRIES=10
#POLLING_DELAY=5